.Agendar{
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 33px 40px;
    flex-direction: column;
    font-size: larger;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    border: 2px solid red;
    border-radius: 1rem;
    color: black;
}

.div{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.Tabla{
    font-size: medium;
    border: 1px solid black;
}

.Tabla tr{
    border: 1px solid black;
}

.Tabla th{
    border: 1px solid black;
}

