form {
    width: 90%;
    max-width: 300px;
    background-color: #fff;
    padding: 33px 40px;
    flex-direction: column;
    font-size: larger;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    border: 2px solid red;
    border-radius: 1rem;
    color: black;
}

.divs{
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-size: medium; 
}

.btns{
    height: 30px;
}
